<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/app.html}">
<head>
    <title>Home</title>
</head>
<body>
    <section layout:fragment="content">
        <div class="flex flex-col p-10">
            <div th:if="${message}" class="flex p-2 rounded-md text-white bg-blue-600" role="alert">
                <p th:text="${message}"></p>
            </div>
            <div th:if="${#lists.isEmpty(tasks)}" class="text-center p-4">
                No tasks found.
            </div>
            <div class="flex flex-row flex-wrap">
                <div th:each="task : ${tasks}" class="flex p-5 w-1/3">
                    <div class="flex flex-col p-5 shadow-lg rounded-xl border-1 border-gray-200 w-full gap-y-5">
                        <h3 class="font-bold text-lg" th:text="${task.title}">Task Title</h3>
                        <span th:if="${task.status}" class="rounded-full px-2 py-1 bg-green-50 text-green-600 text-xs w-fit">Complete</span>
                        <span th:unless="${task.status}" class="rounded-full px-2 py-1 bg-amber-50 text-amber-600 text-xs w-fit">Pending</span>
                        <p class="text-sm h-10 truncate" th:text="${task.summary}">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet distinctio perspiciatis nobis in debitis assumenda, delectus dolore ea maiores tempore, omnis vero eaque soluta animi nesciunt fugit totam commodi incidunt.
                        </p>
                        <div class="flex flex-row justify-between items-center">
                            <div class="flex flex-row items-center gap-x-2">
                                <form th:action="@{/delete/{id}(id=${task.id})}" method="post" onsubmit="return confirm('Are you sure you want to delete this task?');">
                                    <button class="text-red-600 hover:cursor-pointer">
                                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                                            <path stroke-linecap="round" stroke-linejoin="round" d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0" />
                                        </svg>
                                    </button>
                                </form>
                                <a th:href="@{/task/{id}(id=${task.id})}">
                                    <button class="text-green-600 hover:cursor-pointer">
                                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                                            <path stroke-linecap="round" stroke-linejoin="round" d="M2.036 12.322a1.012 1.012 0 0 1 0-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178Z" />
                                            <path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
                                        </svg>
                                    </button>
                                </a>
                                <a th:href="@{/edit/{id}(id=${task.id})}">
                                    <button class="text-blue-600 hover:cursor-pointer">
                                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                                            <path stroke-linecap="round" stroke-linejoin="round" d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L10.582 16.07a4.5 4.5 0 0 1-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 0 1 1.13-1.897l8.932-8.931Zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0 1 15.75 21H5.25A2.25 2.25 0 0 1 3 18.75V8.25A2.25 2.25 0 0 1 5.25 6H10" />
                                        </svg>
                                    </button>
                                </a>
                                <form th:action="@{/complete/{id}(id=${task.id})}" method="post" onsubmit="return confirm('Are you sure you want to mark as completed?');">
                                    <button class="text-gray-600 hover:cursor-pointer">
                                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                                            <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75 11.25 15 15 9.75M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                                        </svg>
                                    </button>
                                </form>
                            </div>
                            <div class="flex">
                                <p class="text-xs font-semibold text-gray-600" th:text="${#temporals.format(task.createdAt, 'dd MMM yyyy HH:mm:ss')}">2025-10-15 10:00:21</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>